{% extends 'main/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'service/css/service.css' %}">
{% endblock %}


{% block body %}
    <h3>Вартість послуг:</h3>
    
    <table class="styled-table">
        <thead>
            <tr>
                <th>Послуга</th>
                <th>Ціна</th>
            </tr>
        </thead>
        <tbody>
            {% for el in data %}
                <tr>
                    <td>{{ el.service }}</td>
                    <td>{{el.price}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}