{% extends 'main/base.html' %}

{%block header%}
    <title>Barber Shop</title>
{%endblock%}

{%block body%}
    <!-- Hero Section -->
    <section id="hero">
        <div class="hero container"> 
            <div>
                <h1>Barber Shop<span></span></h1>
                <a href="#" type="button" class="appointment">Записатись</a>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->

    <!-- About Section -->
    <section id="about">
        <div class="about container">
            <div>
                <h1 class="section-title">Про нас</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Cupiditate consectetur cumque inventore, quasi aut placeat id reiciendis suscipit, 
                    iusto obcaecati qui illum maxime rem esse tenetur fuga quisquam eum assumenda.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tenetur ullam tempora expedita adipisci repellat error, 
                    voluptas, aperiam qui perspiciatis id doloribus, 
                    asperiores eligendi impedit? Maiores quibusdam saepe odit nesciunt ea.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Tenetur ullam tempora expedita adipisci repellat error, 
                    voluptas, aperiam qui perspiciatis id doloribus, 
                    asperiores eligendi impedit? Maiores quibusdam saepe odit nesciunt ea.</p>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!-- Service Section -->
    <section id="services">
        <div class="services container">
            <div>
                <h1 class="haircut">Стрижки Та Гоління</h1>
                <a href="{% url 'haircuts' %}" type="button" class="services-description">Детальніше</a>
            </div>
            <div>
                <h1 class="facial">Догляд За Обличчям</h1>
                <a href="{% url 'facial' %}" type="button" class="services-description">Детальніше</a>
            </div>
            <div>
                <h1 class="handfoot">Догляд За Руками Та Ногами</h1>
                <a href="{% url 'handfoot' %}" type="button" class="services-description">Детальніше</a>
            </div>
        </div>
    </section>
    <!-- End Service Section -->
{%endblock%}
